.full {
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 4fr;
}

.left {
    position: initial;
    background-color: blanchedalmond;
    padding: 20px;
    font-size: small;

}
.right {
    position: initial;
    background-color: antiquewhite ;
    padding: 20px;
    font-size: small;
}


.skills {
    font-size: larger;
}